<nav class="nav">
  <div class="nav-left">
    <a class="nav-item logo" routerLink="/">
      <img src="assets/images/angularfirebase.png" width="30px" alt="Firestarter Angular4 Demo App"/> FireStarter
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu" [ngClass]="{'is-active': show}">
    <a class="nav-item" routerLink="/login">
      Login
    </a>
    <a class="nav-item" routerLink="/admin">
      Admins
    </a>
    <a class="nav-item" routerLink="/midlevel">
      Midlevels
    </a>
    <a class="nav-item" routerLink="/lowlevel">
      LowLevels
    </a>
    <a class="nav-item" routerLink="/news">
      News
    </a>
    <a class="nav-item" routerLink="/uploads">
      File Uploads
    </a>
    <button (click)="logout()"> Logout </button>
  </div>
</nav>
