<h1>Top secret admin page, welcome</h1>

<h1>Set user permisions</h1>
<!--<form [formGroup]="userRoleForm" (ngSubmit)="signup()">-->
<form>
  <h3>New User Signup</h3>
  <p class="button is-small" (click)="toggleForm()">Already Registered?</p>
  <hr>

  <label for="upgradeRole">Upgrade user to mid level? Input their email.</label>
  <br>
  <input type="upgradeRole" id="upgradeRole">
  <!--<input type="email" id="email" class="input"-->
         <!--formControlName="email" required >-->
  <br>
  <label for="downgradeRole">Downgrade user to midlevel? Input their email.</label>
  <br>
  <input type="downgradeRole" id="downgradeRole">
  <!--<input type="userrole" id="userrole" class="input"-->
         <!--formControlName="userrole">-->
</form>


  <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

