<h1>Low level users and above</h1>
<h1>Heres the news!</h1>

<div class="entirenewsfeed" >
  <mat-tab-group>
    <mat-tab label="European News" onclick="EuropeNewsPull()" class="mainnewsdiv">
      <section class="europe" onclick="EuropeNewsPull()" >
        <ul *ngFor="let news of europe">
          <a href="{{news.url}}" target="_blank">
            <li>
              <h4>{{news.title}}</h4>
              <p><span>Article by {{news.author}}</span></p>
              <div>
                <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
              </div>
              <br>
              <p>{{news.description}}</p>
            </li>
          </a>
        </ul>
      </section>
    </mat-tab>


    <mat-tab label="Foreign News" (click)="UaeNewsPull()">
      <section class="uae">
        <div class="europediv">
          <ul class="col-ms-6 col-md-3 feed" *ngFor="let news of uae">
            <a href="{{news.url}}" target="_blank">
              <li class="list-group-item">
                <h4>{{news.title}}</h4>
                <p><span>{{news.author}}</span></p>
                <div class="image">
                  <img class="img-responsive" src="{{news.urlToImage}}" />
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </div>
      </section>
    </mat-tab>


    <mat-tab label="Asia News" (click)="AsiaNewsPull()">
      <section class="asia">
        <div class="asiadiv">
          <ul class="col-ms-6 col-md-3 feed" *ngFor="let news of asia">
            <a href="{{news.url}}" target="_blank">
              <li class="list-group-item">
                <h4>{{news.title}}</h4>
                <p><span>{{news.author}}</span></p>
                <div class="image">
                  <img class="img-responsive" src="{{news.urlToImage}}" />
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </div>
      </section>
    </mat-tab>


    <mat-tab label="Africa News" (click)="AfricaNewsPull()">
      <section class="africa">
        <div class="africadiv">
          <ul class="col-ms-6 col-md-3 feed" *ngFor="let news of africa">
            <a href="{{news.url}}" target="_blank">
              <li class="list-group-item">
                <h4>{{news.title}}</h4>
                <p><span>{{news.author}}</span></p>
                <div class="image">
                  <img class="img-responsive" src="{{news.urlToImage}}" />
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </div>
      </section>
    </mat-tab>


    <mat-tab label="Business News" (click)="BusinessNewsPull()">
      <section class="currency">
        <div class="currencydiv">
          <ul class="col-ms-6 col-md-3 feed" *ngFor="let news of currency">
            <a href="{{news.url}}" target="_blank">
              <li class="list-group-item">
                <h4>{{news.title}}</h4>
                <p><span>{{news.author}}</span></p>
                <div class="image">
                  <img class="img-responsive" src="{{news.urlToImage}}" />
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </div>
      </section>
    </mat-tab>


    <mat-tab label="Fashion News">
      <section class="fashion">
        <mat-card *ngFor="let news of fashion">
          <a href="{{news.url}}" target="_blank">
            <mat-card-header>
              <mat-card-title>
                Title of Given News Element {{news.title}}
              </mat-card-title>
              <mat-card-subtitle>
                This is where the author goes {{news.author}}
              </mat-card-subtitle>
            </mat-card-header>

            <img src="{{news.urlToImage}}" alt="Photo of a Shiba Inu" style="width: 90%;">

            <mat-card-content>
              <p>This is where the description goes {{news.description}}</p>
            </mat-card-content>
          </a>
        </mat-card>
      </section>
    </mat-tab>


    <mat-tab label="Music News">
      <section class="music">
        <mat-card *ngFor="let news of music">
          <a href="{{news.url}}" target="_blank">
            <mat-card-header>
              <mat-card-title>
                Title of Given News Element {{news.title}}
              </mat-card-title>
              <mat-card-subtitle>
                This is where the author goes {{news.author}}
              </mat-card-subtitle>
            </mat-card-header>

            <img src="{{news.urlToImage}}" alt="Photo of a Shiba Inu" style="width: 90%;">

            <mat-card-content>
              <p>This is where the description goes {{news.description}}</p>
            </mat-card-content>
          </a>
        </mat-card>
      </section>
    </mat-tab>


    <mat-tab label="Movies News">
      <section class="movies">
        <mat-card *ngFor="let news of movies">
          <a href="{{news.url}}" target="_blank">
            <mat-card-header>
              <mat-card-title>
                Title of Given News Element {{news.title}}
              </mat-card-title>
              <mat-card-subtitle>
                This is where the author goes {{news.author}}
              </mat-card-subtitle>
            </mat-card-header>

            <img src="{{news.urlToImage}}" alt="Photo of a Shiba Inu" style="width: 90%;">

            <mat-card-content>
              <p>This is where the description goes {{news.description}}</p>
            </mat-card-content>
          </a>
        </mat-card>
      </section>
    </mat-tab>


    <mat-tab label="Sports News">
      <section class="premierleague">
        <mat-card *ngFor="let news of premierleague">
          <a href="{{news.url}}" target="_blank">
            <mat-card-header>
              <mat-card-title>
                Title of Given News Element {{news.title}}
              </mat-card-title>
              <mat-card-subtitle>
                This is where the author goes {{news.author}}
              </mat-card-subtitle>
            </mat-card-header>

            <img src="{{news.urlToImage}}" alt="Photo of a Shiba Inu" style="width: 90%;">

            <mat-card-content>
              <p>This is where the description goes {{news.description}}</p>
            </mat-card-content>
          </a>
        </mat-card>
      </section>
    </mat-tab>
  </mat-tab-group>


  <section class="europe">
    <ul class="col-ms-6 col-md-3 feed" *ngFor="let news of europe">
      <a href="{{news.url}}" target="_blank">
        <li class="list-group-item mylist">
          <h4 class="text-center">{{news.title}}</h4>
          <div class="image">
            <img class="img-responsive" src="{{news.urlToImage}}" />
          </div>

          <span class="badge">{{news.author}}</span>
          <br>
          <p>{{news.description}}</p>
        </li>
      </a>
    </ul>
  </section>

  <mat-tab label="European News">
    <section class="europe">
      <mat-card *ngFor="let news of europe">
        <a href="{{news.url}}" target="_blank">
          <mat-card-header>
            <mat-card-title>
              Title of Given News Element {{news.title}}
            </mat-card-title>
            <mat-card-subtitle>
              This is where the author goes {{news.author}}
            </mat-card-subtitle>
          </mat-card-header>

          <img src="{{news.urlToImage}}" style="width: 90%;">

          <mat-card-content>
            <p>This is where the description goes {{news.description}}</p>
          </mat-card-content>
        </a>
      </mat-card>
    </section>
  </mat-tab>
  <!--<h1 class="text-center" style="text-align: center">European News</h1>--> <!--Add on click event -->
  <section class="mainnewsdiv">
    <!--<button (click)="EuropeNewsPull()">Show News</button>-->
    <div class="europediv">
      <ul class="col-ms-6 col-md-3 feed" *ngFor="let news of europe">
        <a href="{{news.url}}" target="_blank">
          <li class="list-group-item">
            <h4>{{news.title}}</h4>
            <p><span>{{news.author}}</span></p>
            <div class="image">
              <img class="img-responsive" src="{{news.urlToImage}}" />
            </div>
            <br>
            <p>{{news.description}}</p>
          </li>
        </a>
      </ul>
    </div>
  </section>
</div>

