.entirenewsfeed{
  text-align: center;
  align-items: center;
  width: 90%;
  margin: 50px auto;

  -moz-column-width: 220px;
  -webkit-column-width: 220px;
  column-width: 220px;

  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;

  -moz-column-gap: 20px;
  -webbkit-column-gap: 20px;
  column-gap: 20px;
}

.header {
  text-align: center;
}
.image{
  width: 100%;
  height: auto;
}


a {
  text-decoration: none;
  color: black;
}

h4 {
  font-size: 1.2rem;
  list-style-type: none;
  text-underline: black;
  underline: 1px;
}

h4:hover{
  color:dodgerblue;
}

.list-group-item{
  list-style-type: none;
}
