<!-- flex grid with cards, single api pull !todo -->
<!-- Add cards>> Reduce # of API request >> Add functions>> Refactor code>> Break into components >>format -->
<!-- generate tabs in sepate tabs, use loop to define tabs as object with separated properties -->
<!-- array for tabs -->
<div>
<div>
  <section>
    <div class="header">
    <h1>Heres the news! <h2 style="color:red;">429 error if not careful with request</h2></h1>
    <p>use a masonry grid, make images responsive</p>
<form id="newsform" class="form-group">
</form>

<div class="feedview">
  <!--<h4 *ngIf="europe.length == null" class="text-center">-->
    <!--<i class="fa fa-spinner fa-pulse fa-2x fa-w">-->
      <!--<span class="sr-only"></span>-->
    <!--</i> News loading... </h4>-->
  <!--<h4 *ngIf="timeup"> Check your internet connection and try again... </h4>-->
</div>
    <mat-tab-group (selectChange)='onSelectChange($event)'>
      <mat-tab label="European News">European News
        <section>
          <ul *ngFor="let news of newsarray">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section>
      </mat-tab>
      <mat-tab label="Foreign News">Foreign News
        <section>
          <ul *ngFor="let news of newsarray">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section></mat-tab>
      <mat-tab label="Asian News">Asian News
        <section>
          <ul *ngFor="let news of newsarray">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section></mat-tab>
      <mat-tab label="African News">African News
        <section>
          <ul *ngFor="let news of newscollection">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section></mat-tab>
      <mat-tab label="Buisness News">Buisness News
        <section>
          <ul *ngFor="let news of newscollection">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section></mat-tab>
      <mat-tab label="Fashion News">Fashion News
        <section>
          <ul *ngFor="let news of newscollection">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section></mat-tab>
      <mat-tab label="Music News">Music News
        <section>
          <ul *ngFor="let news of europe">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section></mat-tab>
      <mat-tab label="Movie News">Movie News
        <section>
          <ul *ngFor="let news of europe">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section></mat-tab>
      <mat-tab label="Sports News">Sports News
        <section>
          <ul *ngFor="let news of europe">
            <a href="{{news.url}}" target="_blank">
              <li>
                <h4>{{news.title}}</h4>
                <p><span>Article by {{news.author}}</span></p>
                <div>
                  <img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>
                </div>
                <br>
                <p>{{news.description}}</p>
              </li>
            </a>
          </ul>
        </section></mat-tab>
    </mat-tab-group>
    </div>
    <!--<div class="entirenewsfeed">-->
    <!--<mat-tab-group #tabGroup (selectedTabChange)="europetabChanged($event)">-->
      <!--<mat-tab label="European News" onclick="EuropeNewsPull()" class="mainnewsdiv">-->
        <!--<section class="europe" onclick="EuropeNewsPull()" >-->
            <!--<ul *ngFor="let news of europe">-->
              <!--<a href="{{news.url}}" target="_blank">-->
                <!--<li>-->
                  <!--<h4>{{news.title}}</h4>-->
                  <!--<p><span>Article by {{news.author}}</span></p>-->
                  <!--<div>-->
                    <!--<img src="{{news.urlToImage}}"  style="width: 480px" class="image"/>-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<p>{{news.description}}</p>-->
                <!--</li>-->
              <!--</a>-->
            <!--</ul>-->
        <!--</section>-->
      <!--</mat-tab>-->


      <!--<mat-tab label="Foreign News" (click)="UaeNewsPull()">-->
        <!--<section class="uae">-->
          <!--<div class="europediv">-->
            <!--<ul *ngFor="let news of newsarray">-->
              <!--<a href="{{news.url}}" target="_blank">-->
                <!--<li>-->
                  <!--<h4>{{news.title}}</h4>-->
                  <!--<p><span>{{news.author}}</span></p>-->
                  <!--<div class="image">-->
                    <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<p>{{news.description}}</p>-->
                <!--</li>-->
              <!--</a>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</section>-->
      <!--</mat-tab>-->


      <!--<mat-tab label="Asia News" (click)="AsiaNewsPull()">-->
        <!--<section class="asia">-->
          <!--<div class="asiadiv">-->
            <!--<ul *ngFor="let news of asia">-->
              <!--<a href="{{news.url}}" target="_blank">-->
                <!--<li class="list-group-item">-->
                  <!--<h4>{{news.title}}</h4>-->
                  <!--<p><span>{{news.author}}</span></p>-->
                  <!--<div class="image">-->
                    <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<p>{{news.description}}</p>-->
                <!--</li>-->
              <!--</a>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</section>-->
      <!--</mat-tab>-->


      <!--<mat-tab label="Africa News" (click)="AfricaNewsPull()">-->
        <!--<section class="africa">-->
          <!--<div class="africadiv">-->
            <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of africa">-->
              <!--<a href="{{news.url}}" target="_blank">-->
                <!--<li class="list-group-item">-->
                  <!--<h4>{{news.title}}</h4>-->
                  <!--<p><span>{{news.author}}</span></p>-->
                  <!--<div class="image">-->
                    <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<p>{{news.description}}</p>-->
                <!--</li>-->
              <!--</a>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</section>-->
      <!--</mat-tab>-->


      <!--<mat-tab label="Business News" (click)="BusinessNewsPull()">-->
        <!--<section class="currency">-->
          <!--<div class="currencydiv">-->
            <!--<ul *ngFor="let news of currency">-->
              <!--<a href="{{news.url}}" target="_blank">-->
                <!--<li>-->
                  <!--<h4>{{news.title}}</h4>-->
                  <!--<p><span>{{news.author}}</span></p>-->
                  <!--<div class="image">-->
                    <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<p>{{news.description}}</p>-->
                <!--</li>-->
              <!--</a>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</section>-->
      <!--</mat-tab>-->


      <!--<mat-tab label="Fashion News">-->
        <!--<section class="fashion">-->
          <!--<mat-card *ngFor="let news of fashion">-->
            <!--<a href="{{news.url}}" target="_blank">-->
              <!--<mat-card-header>-->
                <!--<mat-card-title>-->
                  <!--Title of Given News Element {{news.title}}-->
                <!--</mat-card-title>-->
                <!--<mat-card-subtitle>-->
                  <!--This is where the author goes {{news.author}}-->
                <!--</mat-card-subtitle>-->
              <!--</mat-card-header>-->

              <!--<img src="{{news.urlToImage}}" style="width: 90%;">-->

              <!--<mat-card-content>-->
                <!--<p>This is where the description goes {{news.description}}</p>-->
              <!--</mat-card-content>-->
            <!--</a>-->
          <!--</mat-card>-->
        <!--</section>-->
      <!--</mat-tab>-->


      <!--<mat-tab label="Music News">-->
        <!--<section class="music">-->
          <!--<mat-card *ngFor="let news of music">-->
            <!--<a href="{{news.url}}" target="_blank">-->
              <!--<mat-card-header>-->
                <!--<mat-card-title>-->
                  <!--Title of Given News Element {{news.title}}-->
                <!--</mat-card-title>-->
                <!--<mat-card-subtitle>-->
                  <!--This is where the author goes {{news.author}}-->
                <!--</mat-card-subtitle>-->
              <!--</mat-card-header>-->

              <!--<img src="{{news.urlToImage}}" alt="Photo of a Shiba Inu" style="width: 90%;">-->

              <!--<mat-card-content>-->
                <!--<p>This is where the description goes {{news.description}}</p>-->
              <!--</mat-card-content>-->
            <!--</a>-->
          <!--</mat-card>-->
        <!--</section>-->
      <!--</mat-tab>-->


      <!--<mat-tab label="Movies News">-->
        <!--<section class="movies">-->
          <!--<mat-card *ngFor="let news of movies">-->
            <!--<a href="{{news.url}}" target="_blank">-->
              <!--<mat-card-header>-->
                <!--<mat-card-title>-->
                  <!--Title of Given News Element {{news.title}}-->
                <!--</mat-card-title>-->
                <!--<mat-card-subtitle>-->
                  <!--This is where the author goes {{news.author}}-->
                <!--</mat-card-subtitle>-->
              <!--</mat-card-header>-->

              <!--<img src="{{news.urlToImage}}" style="width: 90%;">-->

              <!--<mat-card-content>-->
                <!--<p>This is where the description goes {{news.description}}</p>-->
              <!--</mat-card-content>-->
            <!--</a>-->
          <!--</mat-card>-->
        <!--</section>-->
      <!--</mat-tab>-->


      <!--<mat-tab label="Sports News">-->
        <!--<section class="premierleague">-->
          <!--<mat-card *ngFor="let news of premierleague">-->
            <!--<a href="{{news.url}}" target="_blank">-->
              <!--<mat-card-header>-->
                <!--<mat-card-title>-->
                  <!--Title of Given News Element {{news.title}}-->
                <!--</mat-card-title>-->
                <!--<mat-card-subtitle>-->
                  <!--This is where the author goes {{news.author}}-->
                <!--</mat-card-subtitle>-->
              <!--</mat-card-header>-->

              <!--<img src="{{news.urlToImage}}" alt="Photo of a Shiba Inu" style="width: 90%;">-->

              <!--<mat-card-content>-->
                <!--<p>This is where the description goes {{news.description}}</p>-->
              <!--</mat-card-content>-->
            <!--</a>-->
          <!--</mat-card>-->
        <!--</section>-->
      <!--</mat-tab>-->
    <!--</mat-tab-group>-->


    <!--<section class="europe">-->
      <!--<ul *ngFor="let news of europe">-->
        <!--<a href="{{news.url}}" target="_blank">-->
          <!--<li>-->
            <!--<h4 class="text-center">{{news.title}}</h4>-->
            <!--<div class="image">-->
              <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
            <!--</div>-->

            <!--<span class="badge">{{news.author}}</span>-->
            <!--<br>-->
            <!--<p>{{news.description}}</p>-->
          <!--</li>-->
        <!--</a>-->
      <!--</ul>-->
    <!--</section>-->

<!--<mat-tab label="European News">-->
  <!--<section class="europe">-->
    <!--<mat-card *ngFor="let news of europe">-->
      <!--<a href="{{news.url}}" target="_blank">-->
        <!--<mat-card-header>-->
          <!--<mat-card-title>-->
            <!--Title of Given News Element {{news.title}}-->
          <!--</mat-card-title>-->
          <!--<mat-card-subtitle>-->
            <!--This is where the author goes {{news.author}}-->
          <!--</mat-card-subtitle>-->
        <!--</mat-card-header>-->

        <!--<img src="{{news.urlToImage}}" style="width: 90%;">-->

        <!--<mat-card-content>-->
          <!--<p>This is where the description goes {{news.description}}</p>-->
        <!--</mat-card-content>-->
      <!--</a>-->
    <!--</mat-card>-->
  <!--</section>-->
<!--</mat-tab>-->
<!--&lt;!&ndash;<h1 class="text-center" style="text-align: center">European News</h1>&ndash;&gt; &lt;!&ndash;Add on click event &ndash;&gt;-->
<!--<section class="mainnewsdiv">-->
  <!--<div class="europediv">-->
    <!--<ul *ngFor="let news of europe">-->
      <!--<a href="{{news.url}}" target="_blank">-->
        <!--<li class="list-group-item">-->
          <!--<h4>{{news.title}}</h4>-->
          <!--<p><span>{{news.author}}</span></p>-->
          <!--<div class="image">-->
            <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
          <!--</div>-->
          <!--<br>-->
          <!--<p>{{news.description}}</p>-->
        <!--</li>-->
      <!--</a>-->
    <!--</ul>-->
  <!--</div>-->
<!--</section>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</section>-->
<!--</div>-->
<!--</div>-->
<button (click)="EuropeNewsPull()">Show News</button>
<!--<hr>-->

<!--<h1 class="text-center"> Foreign Events</h1>-->

<!--<section class="uae">-->
  <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of uae">-->
    <!--<a href="{{news.url}}" target="_blank">-->
      <!--<li class="list-group-item mylist">-->
        <!--<h4 class="text-center">{{news.title}}</h4>-->
        <!--<div class="image">-->
          <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
        <!--</div>-->
        <!--<span class="badge">{{news.author}}</span>-->
        <!--<br>-->
        <!--<p>{{news.description}}</p>-->
      <!--</li>-->
    <!--</a>-->
  <!--</ul>-->

<!--</section>-->

<!--<hr>-->
<!--<h1 class="text-center">Asia world news</h1>-->

<!--<section class="asia">-->
  <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of asia">-->
    <!--<a href="{{news.url}}" target="_blank">-->
      <!--<li class="list-group-item mylist">-->

        <!--<h4 class="text-center">{{news.title}}</h4>-->
        <!--<div class="image">-->
          <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
        <!--</div>-->

        <!--<span class="badge">{{news.author}}</span>-->
        <!--<br>-->
        <!--<p>{{news.description}}</p>-->
      <!--</li>-->
    <!--</a>-->
  <!--</ul>-->

<!--</section>-->

<!--<hr>-->
<!--<h1 class="text-center">Africa world news</h1>-->

<!--<section class="africa">-->
  <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of africa">-->
    <!--<a href="{{news.url}}" target="_blank">-->
      <!--<li class="list-group-item mylist">-->

        <!--<h4 class="text-center">{{news.title}}</h4>-->
        <!--<div class="image">-->
          <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
        <!--</div>-->

        <!--<span class="badge">{{news.author}}</span>-->
        <!--<br>-->
        <!--<p>{{news.description}}</p>-->
      <!--</li>-->
    <!--</a>-->
  <!--</ul>-->

<!--</section>-->


<!--<hr>-->
<!--<h1 class="text-center">Business latest news</h1>-->

<!--<section class="currency">-->
  <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of currency">-->
    <!--<a href="{{news.url}}" target="_blank">-->
      <!--<li class="list-group-item mylist">-->

        <!--<h4 class="text-center">{{news.title}}</h4>-->
        <!--<div class="image">-->
          <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
        <!--</div>-->

        <!--<span class="badge">{{news.author}}</span>-->
        <!--<br>-->
        <!--<p>{{news.description}}</p>-->
      <!--</li>-->
    <!--</a>-->
  <!--</ul>-->


<!--</section>-->

<!--<h1 class="text-center">Fashion latest news</h1>-->

<!--<section class="fashion">-->
  <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of fashion">-->
    <!--<a href="{{news.url}}" target="_blank">-->
      <!--<li class="list-group-item mylist">-->

        <!--<h4 class="text-center">{{news.title}}</h4>-->
        <!--<div class="image">-->
          <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
        <!--</div>-->

        <!--<span class="badge">{{news.author}}</span>-->
        <!--<br>-->
        <!--<p>{{news.description}}</p>-->
      <!--</li>-->
    <!--</a>-->
  <!--</ul>-->

<!--</section>-->



<!--<hr>-->
<!--<h1 class="text-center">Music latest news</h1>-->

<!--<section class="music">-->
  <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of music">-->
    <!--<a href="{{news.url}}" target="_blank">-->
      <!--<li class="list-group-item mylist">-->

        <!--<h4 class="text-center">{{news.title}}</h4>-->
        <!--<div class="image">-->
          <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
        <!--</div>-->

        <!--<span class="badge">{{news.author}}</span>-->
        <!--<br>-->
        <!--<p>{{news.description}}</p>-->
      <!--</li>-->
    <!--</a>-->
  <!--</ul>-->

<!--</section>-->


<!--<hr>-->
<!--<h1 class="text-center">Movies latest news</h1>-->

<!--<section class="movies">-->
  <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of movies">-->
    <!--<a href="{{news.url}}" target="_blank">-->
      <!--<li class="list-group-item mylist">-->

        <!--<h4 class="text-center">{{news.title}}</h4>-->
        <!--<div class="image">-->
          <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
        <!--</div>-->

        <!--<span class="badge">{{news.author}}</span>-->
        <!--<br>-->
        <!--<p>{{news.description}}</p>-->
      <!--</li>-->
    <!--</a>-->
  <!--</ul>-->

<!--</section>-->



<!--<hr>-->
<!--<h1 class="text-center">Sports latest news</h1>-->

<!--<section class="premierleague">-->
  <!--<ul class="col-ms-6 col-md-3 feed" *ngFor="let news of premierleauge">-->
    <!--<a href="{{news.url}}" target="_blank">-->
      <!--<li class="list-group-item mylist">-->

        <!--<h4 class="text-center">{{news.title}}</h4>-->
        <!--<div class="image">-->
          <!--<img class="img-responsive" src="{{news.urlToImage}}" />-->
        <!--</div>-->

        <!--<span class="badge">{{news.author}}</span>-->
        <!--<br>-->
        <!--<p>{{news.description}}</p>-->
      <!--</li>-->
    <!--</a>-->
  <!--</ul>-->

<!--</section>-->

