<!--<div class="box" >-->
  <!--<div *ngIf="auth.user | async; then authenticated else guest">-->
          <!--&lt;!&ndash; template will replace this div &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; User NOT logged in &ndash;&gt;-->
<!--<ng-template #guest class="box">-->
  <!--<h3>Please Log in</h3>-->
  <!--<p class="card-text">Login to get started...</p>-->
  <!--<button class="button" routerLink="/login">Login</button>-->
<!--</ng-template>-->

<!--&lt;!&ndash; User logged in &ndash;&gt;-->
<!--<ng-template #authenticated>-->
  <!--<div *ngIf="auth.user | async as user">-->
    <!--<h3>Hello</h3>-->
    <!--<p class="text-truncate">UID: {{ user.uid }}</p>-->
    <!--<div style="width: 200%"> &lt;!&ndash;!Remove user role not displaying. Hmm...&ndash;&gt;-->
    <!--<p class="text-truncate">Role: {{ user.roles }}</p>-->
    <!--</div>-->
    <!--<button class="button" (click)="logout()">Logout</button>-->
  <!--</div>-->
<!--</ng-template>-->
