<div id="wrapper">
  <top-nav></top-nav>

  <!--<div class="content columns">-->
    <!--<aside class="column is-2 is-offset-1">-->
      <!--<user-profile></user-profile>-->
    <!--</aside>-->
    <!--<main class="column is-8">-->
      <notification-message></notification-message>
      <router-outlet></router-outlet>
    <!--</main>-->
  <!--</div>-->
</div>
